<div class="mt-4">
  <div class="my-3">
    <h3>Course List Page</h3>
    <a href="/courses/create" class="btn btn-success">Create</a>
  </div>
  <div class="row g-3">
    {{#each courses}}
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img src="{{image}}" height="300" />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="/courses/{{slug}}" class="btn btn-primary">Go now >> </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>