<div class="mt-3">
  <form method="post" action="">
    <div class="mb-3">
      <label for="keyword" class="form-label">Từ khóa</label>
      <input type="text" class="form-control" id="q" name="q">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>